body {
	background: linear-gradient(#ED2664, #ED2565);
}

.header {
	height: 268px;
	background-color: #601348;
}

.header h1 {
	color: white;
	font-size: 4.7em;
	line-height: 0.95;
}

.header img {
	margin-right: 33px;
}

.frame {
	background-color: white;
}

.heading {
	color: #5F1247;
}

.details {
	background: linear-gradient(#EF4976, #EE3075);
}

.list {
	background: #601348;
}