body {
	background-color: #315f67;
}

.header {
	height: 185px;
	background-color: #bc424b;
}

.header h1 {
	color: #e8c7ba;
	font-size: 4em;
	line-height: 0.88;
}

.header img {
	margin-right: 20px;
	margin-top: -20px;
}

.icon {
	position: relative;
	margin-top: 149px;
	height: 1px;
}

.icon img {
	position: absolute;
	bottom: 0;
}

.frame {
	border-radius: 9px;
}

.heading {
	color: #e8c7ba;
}

.contents {
	color: #e8c7ba;
}

.details {
	border-radius: 9px 9px 0 0;
	padding-bottom: 0;
}

.details p {
	padding-bottom: 20px;
	border-bottom: 2px solid;
}

.list {
	border-radius: 0 0 9px 9px;
}

/* Frame */
.pumpkin .frame {
	background-color: #bc424b;
}

.ghost .frame {
	background-color: #e8c7ba;
}

.bat .frame {
	background-color: #273849;
}

.tombstone .frame {
	background-color: #58767b;
}

.skeleton .frame {
	background-color: #91aba4;
}

.witch .frame {
	background-color: #384a5c;
}

/* Heading */
.ghost .heading {
	color: #467b80;
}

.skeleton .heading {
	color: #35545d;
}

/* Contents */
.skeleton .contents {
	color: #91aba4;
}

/* Details */
.pumpkin .details, .pumpkin .list {
	background-color: #392a3e;
}

.ghost .details, .ghost .list {
	background-color: #467b80;
}

.bat .details, .bat .list {
	background-color: #3b4a63;
}

.tombstone .details, .tombstone .list {
	background-color: #2f4552;
}

.skeleton .details, .skeleton .list {
	background-color: #35545d;
}

.witch .details, .witch .list {
	background-color: #22343e;
}