body {
	background-color: #72969d;
}

.header {
	height: 185px;
	background-color: #353946;
}

.header h1 {
	color: #e6d4c2;
	font-size: 4em;
	line-height: 0.88;
}

.header img {
	margin-right: 28px;
}

.frame {
	border-radius: 9px;
	background-color: #e6d4c2;
}

.heading {
	color: #353946;
}

.details {
	border-radius: 9px 9px 0 0;
	background-color: #ad7865;
	color: #e6d4c2;
}

.list {
	border-radius: 0 0 9px 9px;
	background-color: #353946;
	color: #e6d4c2;
}