@font-face {
   font-family: uc; 
   src: url('../uc.otf');
}

@font-face {
   font-family: uc-light; 
   src: url('../uc_light.otf');
}

body {
	background-color: #3F51B5;
	font-family: uc;
	color: white;
}

p {
	font-size: 1.75em;
}

h1, h2 {
	font-family: uc-light;
	font-size: 5em;
}

.na, .na:link, .na:visited, .na:hover, .na:focus, .na:active {
    color: inherit;
    text-decoration: none;
}

.underline {
	border-bottom: 3px solid white;
}

.container {
	width: 100%;
	min-width: 536px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 0;
}

.content {
	width: 88%;
	max-width: 750px;
}

.container#upper {
	top: 0;
	height: calc(50% + 30px);
	justify-content: flex-end;
}

.container#lower {
	top: calc(50% + 30px + 55px);
	justify-content: flex-start;
}

.container#page {
	top: 30px;
	justify-content: flex-start;
	margin-bottom: 200px;
}

.container#nav {
	position: fixed;
	height: 140px;
	bottom: calc(0%);
	background-color: #3F51B5;
	justify-content: flex-start;
}

input[type=number] {
	min-height: 60px;
	padding-left: 20px;
	border-radius: 4px;
	background-color: white;
	font-family: uc;
	font-size: 1.75em;
	color: #212121;
	border: none;
}

.info h1 {
	margin: 0 0 25px 0;
	text-align: center;
}

.tleft h1 {
	text-align: left;
}

.info p {
	border-radius: 4px;
	padding: 20px;
	background-color: #5C6BC0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
	margin-bottom: 25px;
}

.nbg p {
	background-color: transparent;
	box-shadow: none;
}

.block {
	display: flex;
	flex-wrap: wrap;
}

.inline {
	margin-top: -10px;
	padding: 0 0 25px 75px;
}

.inline h2 {
	border-left: 3px solid white;
	padding-left: 25px;
}

.month h2 {
	margin: 7px 0 0 0;
	padding-right: 50px;
}

.year {
	margin: 0 0 35px 0;
}

.year h2 {
	padding: 5px 25px 5px 25px;
	font-size: 6em;
	border: 3px solid white;
	border-radius: 4px;
}

.list {
	display: flex;
	flex-wrap: wrap;
}

.lhome {
	display: flex;
	width: 375px;
	justify-content: space-between;
}

.lhome h2 {
	margin: 7px 0 0 0;
}

@media only screen and (max-width: 860px) {
    .list {
        width: 100%;
    }
}

.link {
	height: 88px;
	margin-right: 40px;
}

.link h2 {
	margin: 7px 0 0 0;
}

.blink {
	width: 100%;
	height: 88px;
	text-align: center;
	background-color: #3F51B5;
	border: 3px solid white;
	border-radius: 4px;
	margin: 20px 0 0 0;
}

.blink h2 {
	margin: -2px 0 -2px 0;
}

.nmargin {
	margin: 0 0 0 0;
}