@font-face {
   font-family: uc; 
   src: url('../uc.otf');
}

@font-face {
   font-family: uc-bold; 
   src: url('../uc_bold.otf');
}

canvas {
	background-color: white;
}

body {
	font-family: uc;
	padding-bottom: 60px;
	min-width: 536px;
}

.na, .na:link, .na:visited, .na:hover, .na:focus, .na:active {
    color: inherit;
}

.quotelink, .quotelink:link, .quotelink:visited, .quotelink:hover, .quotelink:focus, .quotelink:active {
    color: inherit;
}

.header {
	width: 100%;
	margin-bottom: 15px;
	font-family: uc-bold;
	display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
	margin-top: 7px;
}

h1#week {
	font-family: uc;
}

.header img {
	pointer-events: none;
}

.grid {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.item {
	margin: 15px;
	padding-top: 45px;
}

.item canvas {
	margin-bottom: 25px;
}

.frame {
	width: 416px;
	border-radius: 15px;
	color: white;
	font-size: 1.23em;
	line-height: 1.2;
	position: relative;
	font-family: uc;
}

.heading {
	width: 85%;
	height: 78px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
	display: table;
	text-align: center;
	font-family: uc-bold;
}

.heading h2 {
	font-size: 175%;
	line-height: 1;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}

.heading#score {
	text-transform: none;
	bottom: 0;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	font-size: 80%;
}

.contents {
	width: 92%;
	margin: 0 auto;
	min-height: 326px;
	display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.details {
	margin: 0;
	max-width: 384px;
	border-radius: 15px 15px 0 0;
	padding: 20px 12px 20px 12px;
}

.details p {
	margin: 0;
}

.list {
	margin: 0;
	flex: 1;
	max-width: 384px;
	border-radius: 0 0 15px 15px;
	padding: 20px 12px 20px 12px;
}

.list p {
	margin: 0;
}