@font-face {
   font-family: uc; 
   src: url('res/uc.otf');
}

@font-face {
   font-family: uc-bold; 
   src: url('res/uc_bold.otf');
}

body {
	background: linear-gradient(#ED2664, #ED2565);
	font-family: uc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
	width: 100%;
	height: 268px;
	margin-bottom: 60px;
	background-color: #601348;
	font-family: uc-bold;
	display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
	color: white;
	margin-top: 7px;
	font-size: 4.7em; /*50pt*/
	line-height: 0.95;
}

h1#week {
	font-family: uc;
}

.header img {
	margin-right: 33px;
	pointer-events: none;
}

.grid {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.item {
	margin: 15px;
}

.item canvas {
	margin-bottom: 25px;
}

.frame {
	width: 416px;
	background-color: white;
	border-radius: 15px;
	color: white;
	font-size: 1.23em; /*13pt*/
	line-height: 1.2; /*1.25*/
	position: relative;
	font-family: uc;
}

.heading {
	width: 85%;
	height: 78px;
	margin: 0 auto;
	color: #5F1247;
	text-transform: uppercase;
	display: table;
	text-align: center;
	font-family: uc-bold;
}

.heading h2 {
	font-size: 175%;
	line-height: 1;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}

.heading#score {
	text-transform: none;
	bottom: 0;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	font-size: 80%;
}

.contents {
	width: 92%;
	margin: 0 auto;
	min-height: 326px;
	display: flex;
    flex-direction: column;
	background: white;
	border-radius: 15px 15px 0 0;
}

p#details {
	background: linear-gradient(#EF4976, #EE3075);
	margin: 0;
	max-width: 384px;
	border-radius: 15px 15px 0 0;
	padding: 20px 12px 20px 12px;
}

p#progress {
	background: #601348;
	margin: 0;
	max-width: 384px;
	flex: 1;
	border-radius: 0 0 15px 15px;
	padding: 20px 12px 20px 12px;
}