$bg: #333543;
$icon: #ebebec;
$accent: #45485a;
$text1: $icon;
$text2: $icon;
$menu: $icon;
$media: $icon;
$menu_bg: $bg;
$text_bg: $bg;
$scroll_bg: $accent;
$text_border: $accent;
$stamp_border: $accent;
$menu_border: $accent;
@import "../base.scss";