$bg: #535862;
$icon: #f3f3f3;
$accent: #d95667;
$text1: $icon;
$text2: #82868f;
$menu: $text2;
$media: $text2;
$menu_bg: $text1;
$text_bg: $text1;
$scroll_bg: $text2;
$stamp_border: $text2;
$menu_border: $text2;
@import "../base.scss";