$bg: #aaabbc;
$icon: #ffffff;
$accent: #51489d;
$text1: $icon;
$text2: #8b8b9e;
$menu: $text2;
$media: $text2;
$menu_bg: $text1;
$text_bg: $text1;
$scroll_bg: $text2;
$stamp_border: $text2;
$menu_border: $text2;
@import "../base.scss";